
.oracle{
    color: red;    
}
.oracle:hover{
    transition: 1s;
    color: black;
}
h5{
    color: red;
}
a {
    color: rgb(24, 89, 89);
    text-decoration: none;
}

body{
    font-family: sans-serif;
}
img{
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
select:hover {
    background-color: blanchedalmond;
  }
  
  option:hover {
    background-color: blanchedalmond;
  }
  
  input:hover {
    background-color: blanchedalmond;
  }
  
  textarea:hover {
    background-color: blanchedalmond;
  }